body {
    margin: 0;
    background-color: #EBFEFF;
}
.portfolio {
    max-width: 1500px;
    margin: auto;
    filter: drop-shadow(0px 10px 81px rgba(0, 0, 0, 0.97));
}
.navbar {
    margin: 0;
    padding: 0;
    width: 100%;
    background-color:  #EBFEFF;
    position: fixed;
    overflow: auto;
    z-index: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    filter: drop-shadow(0px 10px 81px rgba(0, 0, 0, 0.97)); 
}
ul{
display: flex;
justify-content: center;
align-items: center;
padding: 0px;
gap: 50px;
height: 25px;
font-size: 20px;
font-family: 'Sora';
font-style: bold;
}
li {
    list-style-type: none;
}
a{
    text-decoration: none;
}
a:visited {
    color: #000000;
}
li:hover{
    cursor: pointer;
    color: white;
    text-align: center;
    border-radius: 35px;
    background-color: #16334410;
}
.head{
    background-color: #EBFEFF;
    font-family: 'Sora';
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 170px;
    font-size: 20px;
    font-style: normal;
    gap:200px;
    
}
.ft {
    width: 250px;
}

.ft1 {
    width: 400px;
}
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    font-size: 20px;
    font-style: normal;
    background-color: white;
    gap:200px;
}
.button-for-download {
    margin: 20px;
    width: 210px;
    height: 60px;
    font-family: 'Sora';
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    transition: all 0.3s ease 0s;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 35px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    outline: none;
}
.button-for-download:hover{
    background-color: #457B9D;
    box-shadow: 0px 15px 15px rgba(33, 127, 182, 0.5);
    color: #fff;
    transform: translateY(-7px);
}
.skills{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin:0 100px;
    padding: 100px;
}
h1{
    font-family: 'Sora';
    font-style: bold;
    font-size: 25px;

}
h2{
    color: #457B9D;;
    font-size: 22px;
}
.projects {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 70px;
}
.projects_gallery {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    padding: 50px;
}
footer{
    display: flex;
    flex-direction: column;
    padding: 0 100px;
    background-color: #EBFEFF;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 300px;
}
.gallery:hover {
    border: 1px solid #777;
}
.gallery img {
    width: 100%;
    height: auto;
}
.desc {
    padding: 15px;
    text-align: center;
}

.greetings {
    color: #457B9D;
    font-family: 'Sora';
    font-size: 20px;
}

.welcome-text {
    font-family: 'Sora';
    font-size: 17px;
    font-style: 'regular';
}

.text-about-me {
    font-family: 'Sora';
    font-size: 17px;
    font-style: 'regular';
}